/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --bg: #ffffff;
  --bgshade: rgb(243, 243, 243);
  --primary: #1aac83;
  --primaryshade: #179773;
  --logo: #333;
  --fontlight: #555;
  --shadow: rgba(0, 0, 0, 0.05);
  --calender: light;
}

[data-theme='dark'] {
  --bg: #212121;
  --bgshade: rgb(0, 0, 0);
  --primary: #1aac83;
  --primaryshade: #179773;
  --logo: rgb(255, 255, 255);
  --fontlight: rgb(210, 210, 210);
  --shadow: rgba(255, 255, 255, 0.105);
  --calender: dark;
}

body {
  height: 100vh;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.App {
  min-height: 100vh;
  background: var(--bgshade);
  font-family: "Poppins";
}

header {
  width: 100vw;
  background: var(--bg);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

header .container {
  margin: 0;
  padding: 10px 20px;
}

header .theme-toggle {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

header .theme-toggle h4 {
  color: var(--fontlight);
}

header a {
  color: var(--logo);
  text-decoration: none;
}

.pages {
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

/* homepage */
.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}

.task-details {
  position: relative;
  background: var(--bg);
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 5px 5px 5px var(--shadow);
}


.task-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}

.task-details .deadline {
  margin: 0;
  font-size: 0.9em;
  color: var(--fontlight);
}

.task-details .description {
  margin: 0;
  font-size: 0.9em;
  color: var(--fontlight);
}

.task-details .description-box {
  color: var(--fontlight);
  background-color: var(--bgshade);
  padding: 10px 8px;
  min-height: 20px;
  max-height: 200px;
  max-width: 100%;
  overflow-x: auto;
  overflow-y: auto;
  margin-top: 4px;
}

.task-details .createdAt {
  display: flex;
  justify-content: flex-end;
  font-size: 0.9em;
  margin-bottom: -20px;
  color: var(--fontlight);
}


.task-details button {
  position: absolute;
  top: 12px;
  right: 12px;
  cursor: pointer;
  border: none;
  background-color: var(--bg);
}

/* new workout form */
label,
input {
  display: block;
}

label {
  color: var(--fontlight);
}

input {
  background: var(--bgshade);
  color: var(--fontlight);
  color-scheme: var(--calender);
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid var(--fontlight);
  border-radius: 4px;
  box-sizing: border-box;
}

form button {
  background: var(--primary);
  border: 0;
  color: var(--bg);
  padding: 10px 12px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}

form button:hover {
  background: var(--primaryshade);
}

form h3 {
  color: var(--fontlight);
}




/* ========================================== */
/* SCROLLBAR STYLING  */

::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #80e38f;
  border-radius: 9px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(89, 234, 111);
}


@media only screen and (max-width: 1200px) {
  body {
    overflow-x: hidden;
  }
  .home {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 50px;
  }

  .create {
    width: 300px;
  }

  .tasks {
    width: 90%;
  }

}